.catalogo-container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.titulo-catalogo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.grid-catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.produto-card {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.produto-card:hover{
    transform: scale(1.03);
}

.produto-img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin-bottom: 15px;
}

.nome-produto {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-adicionar {
    background-color: #b2362c;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-weight: 600;
    transition: .2s ease-in-out;
}

    .btn-adicionar:hover {
        background-color: #992b23;
        transform: scale(1.02);
        cursor: pointer;
    }
