body {
    font-family: 'Segoe UI', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 100px;
}

.login-texto h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.3;
}

.btn-colaborador {
    margin-top: 40px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #8A2317;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
}

.login-card {
    background-color: #211604;
    padding: 40px;
    width: 380px;
    border-radius: 8px;
    color: white;
}

label {
    font-size: 16px;
}

.input-text {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
    margin-bottom: 25px;
    font-size: 16px;
}

.criar-conta {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.btn-continuar {
    width: 100%;
    background-color: #8A2317;
    border: none;
    padding: 15px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

    .btn-continuar:hover {
        background-color: #6e1a12;
    }

.erro {
    margin-top: 15px;
    color: #ff6b6b;
    text-align: center;
}
