.produto-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 0;
}

.produto-imagens {
    flex: 1 1 400px;
}

.img-principal {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.imagens-minis {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

    .imagens-minis img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s;
    }

        .imagens-minis img:hover {
            transform: scale(1.1);
        }

.produto-dados {
    flex: 1 1 400px;
}

    .produto-dados h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

.avaliacao .estrelas {
    color: #FFD700;
    font-size: 18px;
}

.preco {
    color: #b43e2b;
    font-size: 28px;
    margin: 20px 0;
}

.descricao {
    margin-bottom: 25px;
    line-height: 1.5;
}

.btn-carrinho {
    padding: 12px 20px;
    background-color: #8A1C0A;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

    .btn-carrinho:hover {
        background-color: #6c1508;
    }
