body {
    font-family: 'Inria Sans', sans-serif;
    background: #f8f8f8;
    color: #222;
}

.card {
    border-radius: 12px;
    border: none;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.card-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.card-text {
    font-weight: bold;
    color: #111;
}

.btn-inicio-container {
    text-align: center;
    margin-top: 30px;
}

.btn-ir-catalogo {
    background-color: #b2362c;
    color: #fff;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    transition: .2s;
}

.btn-ir-catalogo:hover {
        background-color: #992b23;
        transform: scale(1.03);
}

.FOOTER {
    margin-top: 17.1%;
}