@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <img src="img/NissanSkyline2.png" alt="NissanSkyline2.png" />
        </div>
        <div class="col">
            <img src="img/NissanSkyline2.png" alt="imgMoto" />
        </div>
        <div class="col">
            <img src="img/NissanSkyline2.png" alt="imgAviao" />
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="img/NissanSkyline2.png" alt="imgPreMontado" />
        </div>
        <div class="col">
            <img src="img/NissanSkyline2.png" alt="imgMontavel" />
        </div>
    </div>
</div>